body {
  background-color: var(--green-light2);
  font-family: "inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  width: 100%;
  z-index: 1000;
  padding-bottom: 1.5rem;
  background-color: var(--gold);
}

.img {
  position: absolute;
  width: 8rem;
  top: 1.1rem;
  left: 2rem;
}

.img-logo {
  width: 100%;
}

nav {
  text-align: center;
  padding: 2rem;
}

.ul-pages {
  justify-content: center;
  list-style: none;
  display: inline-flex;
  font-size: 1.3rem;
}

.ul-pages li a {
  text-decoration: none;
  margin: 0 20px;
  color: var(--green-light);
  border-bottom: 2px solid transparent;
  transition: 0.4s ease;
}

.ul-pages li a:hover {
  border-bottom: 2px solid var(--green);
  color: var(--green);
}

.border-nav {
  width: 50%;
  height: 10px;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--green);
}

.h1-nav {
  font-size: 1.3rem;
  text-align: center;
  color: var(--green);
}

/* HOME */
.content-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--black-light);
  margin: 2% 8%;
}

.home-header-info {
  justify-items: center;
  font-size: large;
  display: grid;
  margin-top: -2rem;
  padding: 0 2.5rem 6rem 2.5rem;
  color: var(--white);
  background-color: var(--gold);
}

/* FEEDBACKS */
.feedbacks-content {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

.row {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  padding-bottom: 0px;
  margin: 4.5rem 2rem 2rem 2rem;
  border: 1px solid var(--black);
  border-radius: 20px;
  background-color: var(--gren-2);
  box-shadow: 4px 4px 5px var(--black-light);
}

.person-nome {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
  color: var(--black);
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback-box-title {
  font-size: 1.5rem;
  margin-bottom: -0.5rem;
  color: var(--green);
}

.feedback-box {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.5rem 2rem 1.5rem;
  margin: 1rem;
  border: 1px solid var(--black);
  border-radius: 20px;
  background-color: var(--gren-2);
  box-shadow: 4px 4px 5px var(--black-light);
}

.feedback-box input {
  width: auto;
  margin-left: -0.5rem;
  padding: 0.4rem;
  background-color: var(--green-light);
  border: 1px solid var(--black);
}

.feedback-box p {
  margin: 3rem 1rem 0rem -0.5rem;
}

.feedback-input-message {
  width: 96%;
  margin-left: -0.5rem;
  padding: 0.4rem 0.4rem 3rem 0.4rem;
  background-color: var(--green-light);
  border: 1px solid var(--black);
}

.feedback-button {
  font-size: 1.1rem;
  margin-top: 2rem;
  padding: 0.9rem 0;
  background-color: var(--green);
  color: var(--green-light);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s ease;
}

.feedback-button:hover {
  transform: scale(1.02);
}

/* REGIÕES */
.regioes-content {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

.container-img-regioes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-regioes {
  border-radius: 30%;
  box-shadow: 4px 4px 5px var(--black-light);
}

.regioes-estados {
  margin-left: 2rem;
  padding: 0.1rem 1rem;
}

.arrow-icon {
  font-size: 2rem;
  position: absolute;
  margin: 0.1rem 0 0 -2.8rem;
}

.estados-title {
  font-size: 1.8rem;
  font-weight: 350;
  margin: 1rem 0 0 2.5rem;
}

.regioes-estados p {
  margin: 0;
}

/* BLOG */
.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8rem;
}

.blog-paragrafo {
  margin: 2rem 1.5rem 1rem 1.5rem;
}

.blog-paragrafo img {
  float: left;
  width: 10rem;
  height: 10rem;
  margin: 1.3rem 1.2rem 0.3rem 0;
}

.blog-paragrafo p {
  margin-top: -0.5rem;
}

/* A EMPRESA */
.a-empresa-content {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem 20rem 2rem;
  font-size: x-large;
}

.a-empresa-content div:last-of-type {
  margin-top: 5rem;
}
/* FOOTER */
footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 8rem;
  color: var(--white);
  background-color: var(--green);
}

.img-footer {
  width: 8rem;
  position: absolute;
  left: 1rem;
  padding: 1rem;
}

.sobre-footer {
  margin: 1rem 4rem 0 15rem;
}

.contact-footer {
  margin: 1rem 7rem 0 3rem;
}

.footer-info-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: -5px;
}

.p-footer {
  position: absolute;
  margin-top: 20rem;
}

@media screen and (max-width: 1160px) and (min-width: 989px) {
  .ul-pages {
    font-size: 1.2rem;
  }
  .ul-pages li a {
    margin: 0 16px;
  }
  .h1-nav {
    font-size: 1.2rem;
  }
  .img-footer {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 988px) {
  .ul-pages {
    font-size: 1.1rem;
  }
  .ul-pages li a {
    margin: 0 15px;
  }
  .img {
    width: 7.5rem;
    top: 1.3rem;
    left: 1.8rem;
  }
  .h1-nav {
    font-size: 1.1rem;
  }
  .img-footer {
    width: 7.5rem;
  }
}

@media screen and (max-width: 987px) {
  .ul-pages li a {
    margin: 0 12px;
  }
}

@media screen and (max-width: 928px) {
  .ul-pages li a {
    margin: 0 10px;
  }
  .img-footer {
    margin-top: -2rem;
  }
}
@media screen and (max-width: 920px) {
  .img-footer {
    margin-top: -3rem;
  }
}

@media screen and (max-width: 900px) {
  .img-footer {
    width: 7.4rem;
    margin-top: -4rem;
  }
}

@media screen and (max-width: 869px) {
  .ul-pages li a {
    margin: 0 7px;
  }
  .img {
    width: 7.2rem;
    top: 1.5rem;
    left: 1.5rem;
  }
  .img-footer {
    width: 7.2rem;
    margin-top: -8rem;
    left: 0.5rem;
  }
  .p-footer {
    margin-top: 26rem;
  }
}

@media screen and (max-width: 819px) {
  .img {
    width: 7rem;
  }
  .img-footer {
    width: 7rem;
    margin-top: -10rem;
  }
}

@media screen and (max-width: 795px) and (min-width: 769px) {
  .feedbacks-content {
    margin-bottom: 5rem;
  }
  .img-footer {
    margin-top: -13rem;
    left: 0.4rem;
  }
  .p-footer {
    margin-top: 30rem;
  }
}

@media screen and (max-width: 756px) {
  .feedbacks-content {
    margin-bottom: 4rem;
  }
  .row {
    margin: 0 -0.9rem 7rem -0.9rem;
  }
}

@media screen and (max-width: 700px) {
  .feedbacks-content {
    margin-bottom: 2rem;
  }
  .row {
    margin: 0 -1rem 5rem -1rem;
  }
}

@media screen and (max-width: 768px) {
  .feedbacks-content {
    margin-bottom: 3rem;
  }
  nav {
    margin-left: 0.9rem;
  }
  .ul-pages li a {
    margin: 0 7px;
  }
  .img {
    width: 6.8rem;
    top: 1.5rem;
    left: 1.4rem;
  }
  .img-footer {
    width: 6.8rem;
    margin-top: -14rem;
  }
  .p-footer {
    margin-top: 32rem;
  }
}

@media screen and (max-width: 712px) {
  .ul-pages {
    font-size: 1rem;
  }
  .ul-pages li a {
    margin: 0 5px;
  }
  .h1-nav {
    font-size: 1rem;
  }
  .img {
    width: 6.4rem;
    left: 1.3rem;
  }
  .img-footer {
    width: 6.4rem;
    margin-top: -15rem;
    left: 0.3rem;
  }
}

@media screen and (max-width: 730px) {
  .regioes-estados {
    padding: 0;
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 691px) {
  .img {
    width: 6rem;
    top: 1.5rem;
    left: 1rem;
  }
  .img-footer {
    width: 6rem;
    left: 0.2rem;
  }
  .p-footer {
    margin-left: 0.7rem;
  }
  .row {
    margin: 0 -1.5rem 5rem -1.5rem;
  }
  .regioes-estados {
    margin-left: 0.8rem;
  }
}

@media screen and (max-width: 680px) {
  .feedbacks-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .feedback {
    grid-row: 1;
  }
  .row {
    margin: 0;
  }
  .regioes-estados {
    margin-left: 0.3rem;
  }
}

@media screen and (max-width: 671px) {
  .regioes-content {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 625px) {
  nav {
    margin-left: 2.5rem;
  }
  .ul-pages li a {
    margin: 0 5px;
  }
  .border-nav {
    height: 9px;
  }
  .img {
    left: 0.9rem;
  }
}

@media screen and (max-width: 560px) {
  .contact-footer {
    margin-left: 0;
  }
}

@media screen and (max-width: 545px) {
  header {
    height: 10rem;
    padding-bottom: 5rem;
  }
  nav {
    margin-left: 0rem;
    margin-right: 2rem;
    padding: 1rem;
  }
  .ul-pages {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    margin-top: -0.7rem;
  }
  .ul-pages li {
    margin: 4px 5px;
  }
  .border-nav {
    height: 9px;
    margin-top: -1rem;
  }
  .h1-nav {
    font-size: 1.1rem;
    margin-top: -0.2rem;
  }
  .img {
    width: 6rem;
    top: 1.5rem;
  }
  .home-header-info {
    margin-top: -2rem;
  }
  .img-footer {
    width: 6rem;
    margin-top: -17rem;
    left: -0.5rem;
  }
}

@media screen and (max-width: 525px) and (min-width: 400px) {
  .img-footer {
    width: 6rem;
    margin-top: -17rem;
    left: -0.5rem;
  }
  .sobre-footer h2 {
    margin-left: 0.1rem;
  }
  .sobre-footer p {
    margin-left: 0.1rem;
  }
  .contact-footer {
    margin-left: -3rem;
  }
}

@media screen and (max-width: 465px) and (min-width: 426px) {
  footer .sobre-footer {
    display: block;
    margin-left: 4rem;
    margin-top: 6rem;
  }
  .img-footer {
    width: 5.5rem;
    margin-top: -22rem;
    left: -0.5rem;
  }
  .p-footer {
    margin-top: 35rem;
  }
  .img-regioes {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  footer .sobre-footer {
    display: block;
    margin-left: 4rem;
    margin-top: 6rem;
  }
  .img-footer {
    width: 5.5rem;
    margin-top: -22rem;
    left: -0.5rem;
  }
  .p-footer {
    margin-top: 35rem;
  }
  .img-regioes {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .img-footer {
    width: 5rem;
    margin-top: -22rem;
    left: -0.5rem;
  }
  .sobre-footer h2 {
    margin-left: 1.3rem;
  }
  .sobre-footer p {
    margin-left: 1.3rem;
  }
  .contact-footer {
    margin-left: -1.5rem;
  }
  .p-footer {
    margin-top: 37rem;
  }
}

@media screen and (max-width: 390px) {
  .content-title {
    margin-top: 1rem;
  }
  .ul-pages {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  .ul-pages li {
    margin: 4px 4px;
  }
  .border-nav {
    height: 8px;
  }
  .h1-nav {
    font-size: 1rem;
  }
  .img {
    width: 5rem;
    top: 1.2rem;
    left: 0.7rem;
  }
  footer .sobre-footer {
    margin-left: 5.5rem;
  }
  .img-footer {
    width: 5rem;
    margin-top: -23rem;
  }
}

@media screen and (max-width: 365px) {
  .home-header-info {
    padding-left: 1.5rem;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
  }
  footer {
    flex-direction: column;
  }
  footer .sobre-footer {
    margin-left: 0.3rem;
  }
  footer .contact-footer {
    margin-left: 0;
  }
  .img-footer {
    width: 5rem;
    margin-top: -22rem;
  }
}

@media screen and (max-width: 345px) {
  .img {
    width: 4.5rem;
    top: 0.7rem;
    left: 0.4rem;
  }
  .home-header-info {
    padding-left: 1rem;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
  }
  footer .sobre-footer {
    margin-left: 0.2rem;
  }
  footer .contact-footer {
    margin-left: 1rem;
  }
  .img-footer {
    width: 5rem;
    margin-top: -22rem;
  }
  footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 337px) {
  .home-header-info {
    padding-left: 1rem;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
  }
  .home-header-info h1 {
    font-size: 1.5rem;
  }
  .home-header-info h3 {
    font-size: 1.3rem;
  }
  footer .sobre-footer {
    margin-left: 0.2rem;
  }
  footer .contact-footer {
    margin-left: 1.7rem;
  }
}

@media screen and (max-width: 320px) {
  footer .contact-footer {
    margin-left: 2.5rem;
  }
  .img-footer {
    width: 5rem;
    margin-top: -22rem;
  }
  footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 300px) {
  footer .contact-footer {
    margin-left: 3.5rem;
  }
}

@media screen and (max-width: 286px) {
  footer .contact-footer {
    margin-left: 4.5rem;
  }
  .p-footer {
    margin-top: 39rem;
  }
}

@media screen and (max-width: 280px) {
  .img {
    width: 4rem;
    top: 0.4rem;
    left: 0.3rem;
  }
  .home-header-info {
    padding-top: 1rem;
  }
  footer .contact-footer {
    margin-left: 5.4rem;
  }
  .img-footer {
    width: 5rem;
    margin-top: -24rem;
  }
  footer {
    flex-direction: column;
  }
  .p-footer {
    margin-top: 42rem;
  }
}

@media screen and (max-width: 255px) {
  .img-footer {
    width: 5rem;
    margin-top: -30rem;
  }
  footer .contact-footer {
    margin-left: 6.5rem;
  }
  .p-footer {
    margin-top: 44rem;
  }
  .feedback-box {
    width: 60%;
  }
  .row {
    width: 94%;
  }
  .feedback {
    width: 94%;
  }
}
/* color */
:root {
  --gold: #debd1a;
  --green: #3f8978;
  --gren-2: #3f897877;
  --green-light: #e1ffc5;
  --green-light2: #eeffde;
  --white: #ffffff;
  --black: #000000;
  --black-light: #00000018;
}

textarea{
  resize: none;
}